#contact{
  padding-left: 5px;
  color: #666666;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}

#contact img:hover{
transform:rotate(0.5turn) translate(-10px);
}

h1{
  text-transform: uppercase;
}
.chevron_down{
  width: 15px;
  padding-left: 10px;
}

.retour{
  width: 210px;
  height: 40px;
  font-size: 14px;
  font-weight: normal;
  background-color: #71777A;
  font-family: sans-serif;
  color: #F7F8F4;color: #fff;
  text-align: center;
  padding-top: 2%;
}

a:visited, a, a:before,a:default{
      text-transform: uppercase;
      padding-left: 5px;
      color: #666666;
      font-family: sans-serif;
      font-weight: 300;
      font-size: 14px;
}

a{
  text-decoration: none;
}
a:hover {
color:#606d94;
text-decoration:none;
}

#portail:visited,#portail{
  color:white;
  text-decoration: none;
}
#entete{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E7E7E7;
  background-color: #f8f8f8;
  height: 40px;
  margin: auto;
}
