#portail{
  border-width:1px;
  border-style:solid;
  border-color: #74787B;
  font-size: 14px ;
  width : 210px ;
  text-align: center ;
  font-weight: normal;
  background-color: #71777A;
  font-family: sans-serif;
  color: #F7F8F4;
  }
#select{
  margin-top: 52px ;
}
#contenu{
  height: 600px ;
}
#mv{
    text-decoration: none ;
  }
textarea {
height: 25px;
}
button{
  width: 100%;
}
#map {
  width: 100%;
  height: 97%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f2f3;
}


#graph{
  background-color: #f7f2f3;
  border-radius :25px;
  height: 100%;
}
/*.corp{
  display:flex;
  flex-direction: row;
  height: 90%;
}*/
